<style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px;}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 18.0px; min-height: 17.0px}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-indent: 18.0px;}
</style>
<article class="post">
    <header>
        <a href="{{ include.post.url | prepend: site.baseurl }}">
            <h1 class="post-title">{{ include.post.title }}</h1>
        </a>
        <time datetime="{{ include.post.date | date_to_xmlschema }}" class="post-date">{{ include.post.date | date: "%d/%m/%Y" }}</time>
    </header>
    <div class="post-body">
        {{ include.content }}
    </div>
    <footer class="post-footer">

    </footer>
</article>
